stages:
  - install_dependencies
  - image
  - test
  - deploy

cache: &global_cache
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
  policy: pull-push

install:dependencies:
  image: node:16.15-alpine
  stage: install_dependencies
  tags:
    - UMVEL-CICD-GLOBAL
  cache:
    <<: *global_cache
  script:
    - npm ci
  only:
    - merge_requests

test:build:
  image: node:16.15-alpine
  stage: test
  tags:
    - UMVEL-CICD-GLOBAL
  cache:
    <<: *global_cache
    policy: pull
  before_script:
    - npm ci
  script:
    - npm run build
  only:
    - merge_requests

test:lint:
  image: node:16.15-alpine
  stage: test
  tags:
    - UMVEL-CICD-GLOBAL
  cache:
    <<: *global_cache
    policy: pull
  before_script:
    - npm ci
  script:
    - npm run build
  only:
    - merge_requests

build push image:
  image: docker
  stage: image
  tags:
    - UMVEL-CICD-GLOBAL
  services:
    - name: docker:dind
      command: [ "--tls=false" ]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_BUILDKIT: 1
    DOCKER_TLS_CERTDIR: ""
    KUBERNETES_CPU_REQUEST: 2
    KUBERNETES_CPU_LIMIT: 3
  cache: {}
  environment:
    name: $CI_COMMIT_REF_NAME
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cat $ENV
    - cat $ENV > .env
  script:
    - docker build --build-arg ENV=$CI_COMMIT_BRANCH -t $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH.$CI_COMMIT_SHORT_SHA .
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH.$CI_COMMIT_SHORT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH.latest
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH.$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH.latest
  only:
    - development
    - staging
    - demo
    - master

deploy:image:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  tags:
    - UMVEL-CICD-GLOBAL
  cache: {}
  environment:
    name: $CI_COMMIT_REF_NAME
    url: https://$CI_COMMIT_REF_NAME-website.umvel.dev
  script:
    - ecs update-service --cluster $ECS_CLUSTER --service $ECS_SERVICE --force-new-deployment
  only:
    - development
    - staging
    - demo

deploy-prod:image:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  tags:
    - UMVEL-CICD-GLOBAL
  cache: {}
  environment:
    name: production
    url: https://umvel.com
  script:
    - ecs update-service --cluster $ECS_CLUSTER --service $ECS_SERVICE --force-new-deployment
  only:
    - master
